.taches-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-height: 300px;
    overflow: hidden; 
}

.card-title {
    font-family: "jaf-cupidus-text", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    color: black;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.card-description {
    font-family: "jaf-cupidus-text", sans-serif;
    font-weight: 500;
    font-style: normal;
    
    margin: 8px 0;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-footer {
    font-family: "jaf-cupidus-text", sans-serif;
    font-weight: 420;
    font-style: normal;
    margin-top: 16px;
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 600px) {
    .taches-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}



@media (max-width: 480px) {
    .taches-container {
        grid-template-columns: 1fr; 
}
}

.status-button {
    font-size: small;
    color: white;
    padding: 8px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 100px;
}
.status-incomplete {
    background-color: #f87171;
}

.status-complete {
    background-color: #0f926d;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 1.5rem;
}

.icon-button {
    background: none;
    border: none;
    color: black
}


.add-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
    border-radius: 0.75rem;
    padding: 16px;
    cursor: pointer;
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(190, 150, 130, 0.1);
}

.add-icon {
    font-size: 2.5rem;
    transition: transform 0.5s ease-in-out;
    color: #686868 !important;
}

.add-task:hover .add-icon {
    transform: scale(1.25);
    transition: transform 0.2s ease-in-out;}

.add-task-text {
    font-size: 1.5rem;
    color: #a0a0a0;
    margin-top: 8px;
}
